In [161]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
!pip install  catboost

Requirement already satisfied: catboost in c:\users\osuntoki\anaconda3\lib\site-packages (0.23.2)
Requirement already satisfied: graphviz in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (0.14)
Requirement already satisfied: numpy>=1.16.0 in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (1.18.1)
Requirement already satisfied: plotly in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (4.8.2)
Requirement already satisfied: scipy in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (1.0.1)
Requirement already satisfied: matplotlib in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (3.1.3)
Requirement already satisfied: six in c:\users\osuntoki\anaconda3\lib\site-packages (from catboost) (1.14.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\osuntoki\anaconda3\lib\site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\osuntoki\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\osuntoki\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\osuntoki\anaconda3\lib\site-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\osuntoki\anaconda3\lib\site-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\osuntoki\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: setuptools in c:\users\osuntoki\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (45.2.0.post20200210)

In [162]:
data = pd.read_csv("train.csv")
data.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRB24,CHUKWUDI017,DRB24_CHUKWUDI017,8.785,Low Fat,0.020694,Soft Drinks,382.91,2014,NaN,Cluster 2,Supermarket Type1,4633.97
1,FDR31,CHUKWUDI019,FDR31_CHUKWUDI019,NaN,Normal Fat,0.086078,Fruits and Vegetables,359.53,1992,Small,Cluster 1,Grocery Store,729.05
2,FDP16,CHUKWUDI017,FDP16_CHUKWUDI017,18.600,Low Fat,0.039517,Frozen Foods,609.20,2014,NaN,Cluster 2,Supermarket Type1,14740.81
3,FDY16,CHUKWUDI027,FDY16_CHUKWUDI027,NaN,Normal Fat,0.091780,Frozen Foods,456.32,1992,Medium,Cluster 3,Supermarket Type3,16137.33
4,FDY48,CHUKWUDI046,FDY48_CHUKWUDI046,14.000,Low Fat,0.023735,Baking Goods,258.08,2004,Small,Cluster 1,Supermarket Type1,4613.99

In [163]:
data.isnull().sum()

Product_Identifier                   0
Supermarket_Identifier               0
Product_Supermarket_Identifier       0
Product_Weight                     601
Product_Fat_Content                  0
Product_Shelf_Visibility             0
Product_Type                         0
Product_Price                        0
Supermarket_Opening_Year             0
Supermarket _Size                 1126
Supermarket_Location_Type            0
Supermarket_Type                     0
Product_Supermarket_Sales            0
dtype: int64

In [164]:
data['Product_Weight']= data['Product_Weight'].fillna(data['Product_Weight'].mean())

In [165]:
data.corr()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Supermarket_Sales
Product_Weight,1.000000,-0.022160,0.033193,0.011272,0.013177
Product_Shelf_Visibility,-0.022160,1.000000,-0.028941,-0.084218,-0.161008
Product_Price,0.033193,-0.028941,1.000000,0.161113,0.524002
Supermarket_Opening_Year,0.011272,-0.084218,0.161113,1.000000,0.057508
Product_Supermarket_Sales,0.013177,-0.161008,0.524002,0.057508,1.000000

In [166]:
data['Supermarket _Size'].value_counts()

Medium    1155
Small     1015
High       446
Name: Supermarket _Size, dtype: int64

In [167]:
data.Product_Fat_Content.value_counts()

Low Fat          2272
Normal Fat       1341
Ultra Low fat     129
Name: Product_Fat_Content, dtype: int64

In [168]:
pd.crosstab(data['Supermarket _Size'], data.Product_Fat_Content)

Product_Fat_Content  Low Fat  Normal Fat  Ultra Low fat
Supermarket _Size
High                     276         151             19
Medium                   696         423             36
Small                    610         367             38

In [169]:
# data[data['Supermarket _Size'].isnull()]

In [170]:

data['Supermarket _Size']= data['Supermarket _Size'].fillna('Small')

In [171]:
data.isna().sum()

Product_Identifier                0
Supermarket_Identifier            0
Product_Supermarket_Identifier    0
Product_Weight                    0
Product_Fat_Content               0
Product_Shelf_Visibility          0
Product_Type                      0
Product_Price                     0
Supermarket_Opening_Year          0
Supermarket _Size                 0
Supermarket_Location_Type         0
Supermarket_Type                  0
Product_Supermarket_Sales         0
dtype: int64

In [172]:
data.Product_Type.unique()

array(['Soft Drinks', 'Fruits and Vegetables', 'Frozen Foods',
       'Baking Goods', 'Seafood', 'Canned', 'Others', 'Snack Foods',
       'Health and Hygiene', 'Dairy', 'Household', 'Breakfast',
       'Hard Drinks', 'Starchy Foods', 'Meat', 'Breads'], dtype=object)

In [173]:
data.Product_Type.describe()

count            3742
unique             16
top       Snack Foods
freq              563
Name: Product_Type, dtype: object

In [174]:
data.Product_Type.value_counts()

Snack Foods              563
Fruits and Vegetables    556
Household                414
Frozen Foods             334
Canned                   294
Dairy                    263
Baking Goods             259
Health and Hygiene       222
Meat                     202
Soft Drinks              193
Breads                   115
Hard Drinks               97
Others                    82
Starchy Foods             62
Breakfast                 54
Seafood                   32
Name: Product_Type, dtype: int64

In [175]:
pd.crosstab(data['Product_Type'], data.Product_Fat_Content)

Product_Fat_Content    Low Fat  Normal Fat  Ultra Low fat
Product_Type
Baking Goods               122         133              4
Breads                      59          54              2
Breakfast                   24          30              0
Canned                     148         137              9
Dairy                      142         112              9
Frozen Foods               147         181              6
Fruits and Vegetables      260         279             17
Hard Drinks                 94           0              3
Health and Hygiene         211           0             11
Household                  389           0             25
Meat                        67         131              4
Others                      76           0              6
Seafood                     13          17              2
Snack Foods                338         212             13
Soft Drinks                155          24             14
Starchy Foods               27          31              4

In [176]:
data.Product_Type.value_counts()

Snack Foods              563
Fruits and Vegetables    556
Household                414
Frozen Foods             334
Canned                   294
Dairy                    263
Baking Goods             259
Health and Hygiene       222
Meat                     202
Soft Drinks              193
Breads                   115
Hard Drinks               97
Others                    82
Starchy Foods             62
Breakfast                 54
Seafood                   32
Name: Product_Type, dtype: int64

In [177]:
dict = {'Baking Goods': 3,
       'Breads': 2,
       'Breakfast':3,
       'Canned':2,
       'Dairy':2,
       'Frozen Foods':2,
       'Fruits and Vegetables':1,
       'Hard Drinks':4,
       'Health and Hygiene':2,
       'Household':1,
       'Meat':4,
       'Others':4,
       'Seafood':4,
       'Snack Foods':1,
       'Soft Drinks':3,
       'Starchy Foods':4}
# data['Product_Type'] = data['Product_Type'].map(dict)

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['Product_Type'] = le.fit_transform(data['Product_Type'])
data['Supermarket_Type'] = le.fit_transform(data['Supermarket_Type'])

In [178]:
data['Product_Type'].value_counts()

13    563
6     556
9     414
5     334
3     294
4     263
0     259
8     222
10    202
14    193
1     115
7      97
11     82
15     62
2      54
12     32
Name: Product_Type, dtype: int64

In [179]:
data['Product_Type'].isnull().sum()

0

In [180]:
data['Supermarket_Opening_Year'].value_counts()

1992    601
2014    461
2006    451
1994    446
2004    388
2009    377
2011    372
2016    358
2005    288
Name: Supermarket_Opening_Year, dtype: int64

In [181]:
pd.crosstab(data['Supermarket_Opening_Year'], data.Product_Supermarket_Sales)

Product_Supermarket_Sales,83.23,88.22,91.55,94.88,99.87,103.20,111.52,113.19,114.85,118.18,...,23429.50,23476.11,23885.58,23905.55,24195.17,25182.22,25591.69,25766.46,27484.22,28612.76
Supermarket_Opening_Year,,,,,,,,,,,,,,,,,,,,,
1992,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2005,2,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
new_year = {1992: 1,
           2014:2,
           2006:2,
           1994:2,
           2004:3,
           2009:3,
           2011:3,
           2016:3,
           2005:4}

# data['new_year']= data['Supermarket_Opening_Year'].map(new_year)

In [183]:
data = pd.get_dummies(data, columns = ['Product_Fat_Content','Supermarket_Location_Type','Supermarket _Size'])

In [184]:
# data['Supermarket _Size'].value_counts()

In [185]:
size = {'Small':1,
       'Medium':2,
       'High':4}

# data['Size'] = data['Supermarket _Size'].map(size)

In [186]:
data.drop(['Product_Supermarket_Identifier','Product_Identifier','Supermarket_Identifier'],axis = 1, inplace = True)

In [187]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Type,Product_Supermarket_Sales,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket _Size_High,Supermarket _Size_Medium,Supermarket _Size_Small
0,8.78500,0.020694,14,382.91,2014,1,4633.97,1,0,0,0,1,0,0,0,1
1,12.87064,0.086078,6,359.53,1992,0,729.05,0,1,0,1,0,0,0,0,1
2,18.60000,0.039517,5,609.20,2014,1,14740.81,1,0,0,0,1,0,0,0,1
3,12.87064,0.091780,5,456.32,1992,3,16137.33,0,1,0,0,0,1,0,1,0
4,14.00000,0.023735,0,258.08,2004,1,4613.99,1,0,0,1,0,0,0,0,1

In [188]:
X = data.drop(['Product_Supermarket_Sales','Product_Shelf_Visibility'], axis = 1)
y = data['Product_Supermarket_Sales']

In [189]:
X.head()

,Product_Weight,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Type,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket _Size_High,Supermarket _Size_Medium,Supermarket _Size_Small
0,8.78500,14,382.91,2014,1,1,0,0,0,1,0,0,0,1
1,12.87064,6,359.53,1992,0,0,1,0,1,0,0,0,0,1
2,18.60000,5,609.20,2014,1,1,0,0,0,1,0,0,0,1
3,12.87064,5,456.32,1992,3,0,1,0,0,0,1,0,1,0
4,14.00000,0,258.08,2004,1,1,0,0,1,0,0,0,0,1

In [190]:
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler, StandardScaler
#scaler = RobustScaler()
# scaler = MinMaxScaler()
from sklearn import preprocessing
X = preprocessing.scale(X)

In [191]:
from sklearn.model_selection import train_test_split

In [192]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=19)

In [193]:
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

In [194]:
data.isna().sum()

Product_Weight                         0
Product_Shelf_Visibility               0
Product_Type                           0
Product_Price                          0
Supermarket_Opening_Year               0
Supermarket_Type                       0
Product_Supermarket_Sales              0
Product_Fat_Content_Low Fat            0
Product_Fat_Content_Normal Fat         0
Product_Fat_Content_Ultra Low fat      0
Supermarket_Location_Type_Cluster 1    0
Supermarket_Location_Type_Cluster 2    0
Supermarket_Location_Type_Cluster 3    0
Supermarket _Size_High                 0
Supermarket _Size_Medium               0
Supermarket _Size_Small                0
dtype: int64

In [195]:
from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression

In [196]:
lr = LinearRegression()
# lr = LogisticRegression()
# lr.fit(X_train,y_train)
# lr.score(X_train,y_train)

In [197]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3)
X = poly.fit_transform(X)
lr.fit(X_train,y_train)
lr.score(X_train,y_train)

0.5164915914460966

In [198]:
from sklearn.metrics import mean_squared_error
l_pred = lr.predict(X_test)
bb = mean_squared_error(l_pred,y_test)
print(bb)

10054724.648228593

In [199]:
#from sklearn import preprocessing
# preprocessing.scale(X)

In [200]:
## Apply PCA
from sklearn.decomposition import PCA
pca = PCA(n_components = None)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[2.44181834e-01 1.45551875e-01 1.42868119e-01 1.21352473e-01
 7.87049702e-02 7.15314648e-02 6.37102528e-02 6.16280352e-02
 3.62793937e-02 2.40112357e-02 1.01803460e-02 7.02347027e-32
 2.07219689e-32 1.25042554e-32]

In [201]:
from sklearn.ensemble import GradientBoostingRegressor
from catboost import CatBoostRegressor,Pool
from sklearn.model_selection import KFold, cross_val_score

params = {'n_estimators':100, 'max_depth':4, 'min_samples_split':2, 'learning_rate': 0.05}
cat = CatBoostRegressor(silent=True, iterations=100, learning_rate=0.1, depth =2, loss_function = 'RMSE')
gbr_model = GradientBoostingRegressor(**params)
gbr_model.fit(X_train,y_train)
cat_model = cat.fit(X_train,y_train)

In [202]:
from xgboost import XGBRegressor

xgb = XGBRegressor(n_estimators=10000, learning_rate=0.01)
xgb_model = xgb.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_train, y_train)],
             verbose=False)
xgb.score(X_train,y_train)

0.9989369622310184

In [203]:
xgb_pred =xgb_model.predict(X_test)
score = np.sqrt(mean_squared_error(xgb_pred,y_test))
print("cat: {:.4f}".format(score))

cat: 3394.3355

In [204]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

my_pipeline = Pipeline(steps=[('preprocessor', SimpleImputer()),
                              ('model', RandomForestRegressor(n_estimators=50,
                                                              random_state=0))
                             ])

In [206]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_squared_error')

print("MSE scores:\n", scores)
print("Average MSE score (across experiments): {:.5f}".format(scores.mean()))

MAE scores:
 [10363350.73220676 10703099.02103659 11518176.10214892  9663166.22778678
  8727151.52651244]
Average MAE score (across experiments): 10194988.72194

In [207]:
print(np.sqrt(scores))

[3219.21585673 3271.55911165 3393.84385353 3108.5633704  2954.17527011]

In [97]:
gbr_model.score(X_train,y_train)

0.6704396450351267

In [98]:
cat_model.score(X_train,y_train)

0.5788585288653025

In [99]:
c_pred = cat_model.predict(X_test)
score = np.sqrt(mean_squared_error(c_pred,y_test))
print("cat: {:.4f}".format(score))

cat: 3025.6231

In [100]:
gbr_pred = gbr_model.predict(X_test)
score = np.sqrt(mean_squared_error(gbr_pred,y_test))
print("gbr: {:.4f}".format(score))

gbr: 3029.2938

In [306]:
# kf = KFold(n_splits=5, random_state=42, shuffle=True)
# def cv_rmse(model, X=X_test):
  #  rmse = np.sqrt(-cross_val_score(model, X_test, y_test, scoring="neg_mean_squared_error", cv=kf))
   # return (rmse)

In [307]:
# gbr_model.predict(X_test)

In [308]:
# score = cv_rmse(gbr_model)
# gbr = gbr.fit(X, train_labels)
# print("gbr: {:.4f}".format(score.mean()))

In [309]:
# score = cv_rmse(cat_model)
# gbr = gbr.fit(X, train_labels)

In [310]:
data2 = pd.read_csv("test.csv")
data2.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type
0,FDC15,CHUKWUDI049,FDC15_CHUKWUDI049,18.100,Low Fat,0.178246,Dairy,395.32,2006,Medium,Cluster 1,Supermarket Type1
1,NCY06,CHUKWUDI018,NCY06_CHUKWUDI018,15.250,Low Fat,0.061434,Household,327.49,2016,Medium,Cluster 3,Supermarket Type2
2,DRB24,CHUKWUDI035,DRB24_CHUKWUDI035,8.785,Low Fat,0.020573,Soft Drinks,391.16,2011,Small,Cluster 2,Supermarket Type1
3,NCG54,CHUKWUDI018,NCG54_CHUKWUDI018,12.100,Low Fat,0.080131,Household,427.28,2016,Medium,Cluster 3,Supermarket Type2
4,NCA42,CHUKWUDI017,NCA42_CHUKWUDI017,6.965,Low Fat,0.028710,Household,395.40,2014,NaN,Cluster 2,Supermarket Type1

In [311]:
data2['Product_Weight']= data2['Product_Weight'].fillna(data2['Product_Weight'].mean())
data2['Supermarket _Size']= data2['Supermarket _Size'].fillna('Small')

In [312]:
new_year = {1992: 1,
           2014:2,
           2006:2,
           1994:2,
           2004:3,
           2009:3,
           2011:3,
           2016:3,
           2005:4}

#data2['new_year']= data2['Supermarket_Opening_Year'].map(new_year)

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data2['Product_Type'] = le.fit_transform(data2['Product_Type'])
data2['Supermarket_Type'] = le.fit_transform(data2['Supermarket_Type'])

In [313]:
data2 = pd.get_dummies(data2, columns = ['Product_Fat_Content','Supermarket_Location_Type','Supermarket _Size'])

In [314]:
size = {'Small':1,
       'Medium':2,
       'High':3}

# data2['Size'] = data2['Supermarket _Size'].map(size)

In [315]:
data2.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Type,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket _Size_High,Supermarket _Size_Medium,Supermarket _Size_Small
0,FDC15,CHUKWUDI049,FDC15_CHUKWUDI049,18.100,0.178246,4,395.32,2006,1,1,0,0,1,0,0,0,1,0
1,NCY06,CHUKWUDI018,NCY06_CHUKWUDI018,15.250,0.061434,9,327.49,2016,2,1,0,0,0,0,1,0,1,0
2,DRB24,CHUKWUDI035,DRB24_CHUKWUDI035,8.785,0.020573,14,391.16,2011,1,1,0,0,0,1,0,0,0,1
3,NCG54,CHUKWUDI018,NCG54_CHUKWUDI018,12.100,0.080131,9,427.28,2016,2,1,0,0,0,0,1,0,1,0
4,NCA42,CHUKWUDI017,NCA42_CHUKWUDI017,6.965,0.028710,9,395.40,2014,1,1,0,0,0,1,0,0,0,1

In [316]:
dict = {'Baking Goods': 3,
       'Breads': 2,
       'Breakfast':3,
       'Canned':3,
       'Dairy':3,
       'Frozen Foods':3,
       'Fruits and Vegetables':2,
       'Hard Drinks':4,
       'Health and Hygiene':2,
       'Household':1,
       'Meat':4,
       'Others':4,
       'Seafood':4,
       'Snack Foods':1,
       'Soft Drinks':3,
       'Starchy Foods':4}
# data2['Product_Type'] = data2['Product_Type'].map(dict)

In [317]:
data2.drop(['Product_Identifier','Supermarket_Identifier','Product_Supermarket_Identifier','Product_Shelf_Visibility'],axis = 1, inplace = True)

In [318]:
data2.head()

,Product_Weight,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Type,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket _Size_High,Supermarket _Size_Medium,Supermarket _Size_Small
0,18.100,4,395.32,2006,1,1,0,0,1,0,0,0,1,0
1,15.250,9,327.49,2016,2,1,0,0,0,0,1,0,1,0
2,8.785,14,391.16,2011,1,1,0,0,0,1,0,0,0,1
3,12.100,9,427.28,2016,2,1,0,0,0,0,1,0,1,0
4,6.965,9,395.40,2014,1,1,0,0,0,1,0,0,0,1

In [319]:
X = data2
from sklearn import preprocessing
# preprocessing.scale(X)

from sklearn.preprocessing import RobustScaler
scaler = StandardScaler()
data2= scaler.fit_transform(data2)

In [320]:
data.columns

Index(['Product_Weight', 'Product_Shelf_Visibility', 'Product_Type',
       'Product_Price', 'Supermarket_Opening_Year', 'Supermarket_Type',
       'Product_Supermarket_Sales', 'Product_Fat_Content_Low Fat',
       'Product_Fat_Content_Normal Fat', 'Product_Fat_Content_Ultra Low fat',
       'Supermarket_Location_Type_Cluster 1',
       'Supermarket_Location_Type_Cluster 2',
       'Supermarket_Location_Type_Cluster 3', 'Supermarket _Size_High',
       'Supermarket _Size_Medium', 'Supermarket _Size_Small'],
      dtype='object')

In [321]:
#data2.columns

In [322]:
df = pd.read_csv('test.csv')
#data2['Product_Supermarket_Identifier'] = df['Product_Supermarket_Identifier']

In [323]:
# data2.columns

In [324]:
from catboost import Pool
test_prediction = cat_model.predict(data2)

In [325]:
output = pd.DataFrame({'Product_Supermarket_Identifier' : df['Product_Supermarket_Identifier'], "Product_Supermarket_Sales": test_prediction})

In [326]:
output.head(20)

   Product_Supermarket_Identifier  Product_Supermarket_Sales
0               FDC15_CHUKWUDI049                6175.526046
1               NCY06_CHUKWUDI018                4787.513111
2               DRB24_CHUKWUDI035                6353.712017
3               NCG54_CHUKWUDI018                6667.252044
4               NCA42_CHUKWUDI017                6363.769212
5               FDY16_CHUKWUDI045                7762.347130
6               NCF31_CHUKWUDI045                6097.079165
7               DRI25_CHUKWUDI013                2438.691169
8               FDT28_CHUKWUDI049                5962.679023
9               FDA16_CHUKWUDI035                9769.626286
10              FDB33_CHUKWUDI019                1127.080780
11              FDP27_CHUKWUDI018                7460.224925
12              FDW52_CHUKWUDI017                6715.581528
13              NCN07_CHUKWUDI035                5658.653403
14              FDD34_CHUKWUDI013                6032.374197
15              DRH01_CHUKWUDI027               11178.660670
16              FDW56_CHUKWUDI017                8018.363860
17              FDU45_CHUKWUDI046                4412.298936
18              NCW41_CHUKWUDI049                6202.183407
19              FDM09_CHUKWUDI010                1235.255198

In [327]:
output.to_csv('submission5.csv', index = False)