In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.6,Low Sugar,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.6,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.6,Low Sugar,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.6,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [4]:
data.isnull().sum()

Item_ID                   0
Store_ID                  0
Item_Store_ID             0
Item_Weight             802
Item_Sugar_Content        0
Item_Visibility           0
Item_Type                 0
Item_Price                0
Store_Start_Year          0
Store_Size             1450
Store_Location_Type       0
Store_Type                0
Item_Store_Returns        0
dtype: int64

In [5]:
# data.Item_Weight.value_counts()

In [6]:
pd.crosstab(data.Store_Size, data.Item_Type)

Item_Type,Baking Goods,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
Store_Size,,,,,,,,,,,,,,,,
High,49,19,8,44,44,61,84,14,46,61,27,13,3,80,32,9
Medium,106,44,19,120,105,133,250,49,86,169,96,28,13,257,79,28
Small,87,37,20,105,95,126,193,30,83,164,70,33,13,215,73,20

In [7]:
data['Store_Size'] = data['Store_Size'].fillna('High')
# data['Store_Size'][0:1500] = data['Store_Size'][0:1500].fillna('Small')
# data['Store_Size'][1500:3000] = data['Store_Size'][1500:3000].fillna('Medium')
# data['Store_Size'][3000:] = data['Store_Size'][3000:].fillna('Medium')

In [8]:
data.isnull().sum()

Item_ID                  0
Store_ID                 0
Item_Store_ID            0
Item_Weight            802
Item_Sugar_Content       0
Item_Visibility          0
Item_Type                0
Item_Price               0
Store_Start_Year         0
Store_Size               0
Store_Location_Type      0
Store_Type               0
Item_Store_Returns       0
dtype: int64

In [9]:
pd.crosstab(data.Store_Size, data.Store_Location_Type)

Store_Location_Type  Cluster 1  Cluster 2  Cluster 3
Store_Size
High                         0       1066        978
Medium                     620          0        962
Small                      849        515          0

In [10]:
data['Item_Weight'] = data['Item_Weight'].fillna(data['Item_Weight'].mean())

In [11]:
# data['Store_Start_Year']=data['Store_Start_Year'].astype(str)

# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()
# data['Item_Sugar_Content'] = le.fit_transform(data['Item_Sugar_Content'])
# data['Item_Type'] = le.fit_transform(data['Item_Type'])
# data['Item'] = data['Item_Sugar_Content'] * data['Item_Type']

# data['Store_Location_Type'] = le.fit_transform(data['Store_Location_Type'])
# data['Store_Type'] = le.fit_transform(data['Store_Type'])
# data['St'] = data['Store_Location_Type'] * data['Store_Type']

# data['Store_Size'] = le.fit_transform(data['Store_Size'])
# data['Store_Start_Year'] = le.fit_transform(data['Store_Start_Year'])

In [12]:
# data = pd.get_dummies(data, columns = ['Store_Size','Store_Location_Type','Store_Type','Item_Sugar_Content','Item_Type'])
# data['Item_Price'] = data['Item_Price'] * data['Item_Weight']

In [13]:
data.drop(['Item_ID','Store_ID','Item_Store_ID','Item_Visibility'], axis = 1,inplace = True)

In [14]:
data.head()

,Item_Weight,Item_Sugar_Content,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,11.6,Low Sugar,Soft Drinks,357.54,2005,High,Cluster 3,Grocery Store,709.08
1,11.6,Low Sugar,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,11.6,Low Sugar,Soft Drinks,350.79,2014,High,Cluster 2,Supermarket Type1,6381.69
3,11.6,Low Sugar,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,11.6,Ultra Low Sugar,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [15]:
data.corr()

,Item_Weight,Item_Price,Store_Start_Year,Item_Store_Returns
Item_Weight,1.000000,0.026183,0.006867,0.011833
Item_Price,0.026183,1.000000,0.160032,0.518285
Store_Start_Year,0.006867,0.160032,1.000000,0.051297
Item_Store_Returns,0.011833,0.518285,0.051297,1.000000

In [16]:
X = data.drop(['Item_Store_Returns'], axis = 1)
y = data['Item_Store_Returns']

In [17]:
# from sklearn.preprocessing import MinMaxScaler, StandardScaler
# scaler= MinMaxScaler()
# X = scaler.fit_transform(X)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)

In [19]:
from catboost import CatBoostRegressor,Pool
from sklearn.metrics import mean_squared_error

In [20]:
# cat_index = [0,1,4,5,6]
cat_index = [1,2,5,6,7]

# cat = CatBoostRegressor(silent=True, iterations=100, learning_rate=0.05)
cat = CatBoostRegressor(silent=True, iterations=100, learning_rate=0.05, depth =10, loss_function = 'RMSE')
cat_model = cat.fit(Pool(X_train,y_train,cat_features = cat_index))
# cat_model.score(X_train,y_train)
c_pred = cat_model.predict(X_test)
cat_score = np.sqrt(mean_squared_error(c_pred,y_test))
print("cat: {:.4f}".format(cat_score))

cat: 2961.4341

In [21]:
data2 = pd.read_csv('test.csv')

In [22]:
data2.isnull().sum()

Item_ID                  0
Store_ID                 0
Item_Store_ID            0
Item_Weight            661
Item_Sugar_Content       0
Item_Visibility          0
Item_Type                0
Item_Price               0
Store_Start_Year         0
Store_Size             959
Store_Location_Type      0
Store_Type               0
dtype: int64

In [23]:
data2['Store_Size'] = data2['Store_Size'].fillna('High')
data2['Item_Weight'] = data2['Item_Weight'].fillna(data['Item_Weight'].mean())

In [24]:
data2.drop(['Item_ID','Store_ID','Item_Store_ID','Item_Visibility'], axis = 1,inplace = True)

In [25]:
test_prediction = cat_model.predict(data2)

In [26]:
df = pd.read_csv('test.csv')
output = pd.DataFrame({'Item_Store_Id' : df['Item_Store_ID'], "Item_Store_Returns ": test_prediction})
output.head(20)

         Item_Store_Id  Item_Store_Returns
0   DRA59_BABATUNJI010          2305.615978
1   DRA59_BABATUNJI013          7757.289749
2   DRB01_BABATUNJI013          8018.750848
3   DRB13_BABATUNJI010          2412.552305
4   DRB13_BABATUNJI013          7817.960836
5   DRB25_BABATUNJI017          4581.505223
6   DRB25_BABATUNJI027          7219.764132
7   DRB25_BABATUNJI035          4636.950497
8   DRB48_BABATUNJI017          4073.146869
9   DRB48_BABATUNJI027          6459.244902
10  DRB48_BABATUNJI035          4064.532972
11  DRB48_BABATUNJI046          3036.475067
12  DRB48_BABATUNJI049          3497.430686
13  DRC01_BABATUNJI017          4084.197370
14  DRC01_BABATUNJI018          3825.788690
15  DRC01_BABATUNJI027          6491.816231
16  DRC01_BABATUNJI045          3623.754788
17  DRC01_BABATUNJI046          3240.430756
18  DRC13_BABATUNJI035          5284.795728
19  DRC13_BABATUNJI045          5112.202464

In [27]:
output.to_csv('submission5.csv', index = False)